.exercise-container {
  margin: auto 8%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}




// .player-wrapper {
//   width: auto; // Reset width
//   height: auto; // Reset height
// }
// .react-player {
//   padding-top: 56.25%; // Percentage ratio for 16:9
//   position: relative; // Set to relative

// }
// .react-player > div {
//   position: absolute; // Scaling will occur since parent is relative now
// }