.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container img {
  width: 20%;
  height: auto;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

ol li:before {
  content: counter(section, lower-alpha) ") ";
}

ol li { 
  counter-increment: section;
}

.global-top-botton-margin {
  margin-top: 130px;
  margin-bottom: 100px ;
}

.margin-top {
  margin-top: 5vh;
}

.margin-top-bottom {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.paragraph-margin {
  margin-top: 3vh;
  margin-bottom: 3vh;
}



/* ********** DAY DETAILS ********** */
.day-exercise-thumbnail-box img {
  height: 270px;
}

.day-exercise-card {
  border: 1px solid #ccc;
  border-radius: 2em;
  background-color: #ccc;
  padding-top: 20px;
  padding-bottom: 20px;

}


/* ********** EXERCISE DETAILS ********** */
.exercise-container {
  margin: auto 8%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.img_nutrition_size {
  height: 50%;
}

.nutrutuin_1{
  width: 300px;
  height: 200px;
  background-image: url("./assets/img/shapeIT/nutrition_main_first.jpg");
  background-size: cover;
}
.nutrutuin_1:hover{
  border: 2px solid blue;
}


.google-logo {
  width: 30px;
  height: auto;
}

.image--cover {
  width: 100%;
  height: auto;
  border-radius: 0%;

  object-fit: cover;
  object-position: center right;
}