.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container img {
  width: 20%;
  height: auto;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

ol li:before {
  content: counter(section, lower-alpha) ") ";
}

ol li { 
  counter-increment: section;
}

.global-top-botton-margin {
  margin-top: 50px;
  margin-bottom: 130px ;
}

/* ********** NAVBAR ********** */
.navtop-background-color {
  background-color: #D24B90;
  background: rgb(233,165,177);
  background: linear-gradient(42deg, rgba(233,165,177,1) 0%, rgba(210,75,144,1) 45%, rgba(255,66,66,1) 100%);
} 

/* .collapse-text {
  padding: 0;
  margin: 0;
}*/



.button-margin {
  margin-top: 5vh;
  /* margin-bottom: 6vh; */
}

.paragraph-margin {
  margin-top: 3vh;
  margin-bottom: 3vh;
}



/* ********** DAY DETAILS ********** */
.day-exercise-thumbnail-box img {
  height: 250px;
}




/* ********** EXERCISE DETAILS ********** */
.exercise-container {
  margin: auto 8%;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}