.parent-wrapper {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #D24B90;
}

.navbottom-container {
  display: flex;
  flex: nowrap row;
  justify-content: center;
  align-content: center;
}

.navbottom-item {
  padding: 10px;
}